***************************************************************
*                                                             *
* DRILL TAPE SUMMARY REPORT                                   *
*                                                             *
* C:\ORCAD_DATA\BAB2\AVRUSB500\LAYOUT\LAYOUT\AVRUSB500-1.MAX  *
* Wed Sep 20 16:06:22 2006                                    *
*                                                             *
***************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       150      24       200      100                                                                                 
T2       310      56       200      100                                                                                 
T3       420      15       200      100                                                                                 
